{% extends "base.html" %}
{% load i18n %}
{% block title %}{% if form.instance.pk %}{% trans "تعديل عقد" %}{% else %}{% trans "اضافة عقد جديد" %}{% endif %}{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>
    {% if form.instance.pk %}
      {% trans "تعديل بيانات عقد الإيجار" %}
    {% else %}
      {% trans "اضافة عقد إيجار جديد" %}
    {% endif %}
  </h2>
</div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card shadow-sm border-secondary">
    <div class="card-body">
      <div class="row">
        {% for field in form.visible_fields %}
          <div class="col-md-6 mb-3">
            <label class="form-label">
              {{ field.label_tag }}
            </label>
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">
              {{ field.help_text }}
            </small>
            {% endif %}
            {% if field.errors %}
            <div class="text-danger small">
              {{ field.errors|striptags }}
          </div>
            {% endif %}
      </div>
        {% endfor %}
    </div>
  </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}
          {% trans "حفظ" %}
      </button>
      <a href="{% url 'contracts:list' %}" class="btn btn-secondary">
        {% trans "الغاء" %}
      </a>
    </div>
</form>
{% endblock %}