{% load i18n static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <title>{% trans "تفاصيل الوحدة" %}</title>
  </head>
  <body>
    <h1>
      {{ unit }}
    </h1>
    <p>
      {% trans "النوع" %}: {{ unit.get_unit_type_display }}
    </p>
    <p>
      {% trans "الطابق" %}: {{ unit.floor }}
    </p>
    <p>
      {% trans "المساحة" %}: {{ unit.size_sqm }} 2م
    </p>
    <p>
      {% trans "متاحة" %}: {{ unit.is_available|yesno:_("نعم,لا") }}
    </p>
  </body>
</html>